.button {
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  
  color: white;
  border: 1px solid;
  transition: 0.3s ;
  
}

.button_white {
  border-color: rgb(252, 150, 7);
  background-color: rgb(252, 150, 7);
}

.button_dark {
  background-color:  var( --dark-color-four);
  border-color: var( --dark-color-four);
}
.button:hover {
  background-color: rgb(248, 179, 82);
  transform: scale(1.1)
}
.button:active {
  background-color: rgb(248, 179, 82);
  border-color: red;
}