.review {
  flex-basis: 200px;
  max-width: 400px;
  flex-grow: 1;
  background-color: beige;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.user {
  text-align: center;
  margin: 0;
  font-style: italic;
    font-weight: 700;
}

.text {
  font-style: italic;
}